<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Geokrets</h2>
  <p>
    blah blah blha blah blah blha blah blah blha blah blah blha blah blah blha blah blah blha.
	 blah blah blha blah blah blha blah blah blha blah blah blha blah blah blha blah blah blha blah blah blha.
  </p>
</div>