<h2>Welcome to Geokret EmberJS prototype</h2>
<nav>
  {{#link-to "index"}}home{{/link-to}}
  - {{#link-to "gitlabuser"}}gitlabuser{{/link-to}}
  - {{#link-to "geokrets"}}geokrets{{/link-to}}
</nav>
<hr/>
{{outlet}}