<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Geokrets contact</h2>
  <p>
    blah blah blha blah blah blha blah blah blha blah blah blha blah blah blha blah blah blha.
	 blah blah blha blah blah blha blah blah blha blah blah blha blah blah blha blah blah blha blah blah blha.
  </p>
</div>