<!-- possible todo: use controller, view! -->
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>{{model.count}} geokrets from {{model.where}}</h2>
  <!-- component to show featureItem -->
  {{#each model.featureCollection as |featureItem|}}
	{{geokret-list-feature feature=featureItem}}
  {{/each}}
</div>