.gk-list {
	display: block;
	padding: 10px;
	margin: 10px;
	float: left;
	min-width: 300px;
	border: 1px solid grey;
}

.gk-list h1 {
	font-size: 12pt;
	background-color: lightyellow;
}


.kretfoto {
    background: url(https://raw.githubusercontent.com/geokrety/GeoKrety-Static/master/content/images/help/kret-foto.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    position: relative;
    top: -50px;
}
