<div class="gk-list">
{{{gk.attributes.name}}}<br/>
<i>mission:</i> {{{gk.attributes.description}}} <br/>
<i>distance</i> {{{gk.attributes.distance}}} km via {{{gk.attributes.caches-count}}} cache{{#if (compare gk.attributes.caches-count '>' 1)}}s{{/if}}
</div>
